*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol,menu{
    list-style: none;
}

#app{
    width: 100%;
    height: 100vh;
    background-color: #d9dad4;
    display: flex;
    justify-content: center;
    align-items:center ;
}


/* layout */
.container{
    width: 100%;
    height: 100%;
    
    display: flex;
}





.contacts{
    display: none;
    
    background-color: red;
}

.chatbox{
    flex-grow: 1;
    background-color: blue;
}


@media (min-width:720px) {
   

    .contacts{
        display: block;
        width: 100px;
        
    }
    

    
}


@media (min-width:968px) {
    .container{
        width: 90%;
        height: 90%;
        
    }

    .contacts{
        
        width: 250px;
        
    }
    

    
}



